.dropzone {
    position: relative;
    width: 500px;
    min-height: 220px;
    background-color: #F0F0F0;
    border-color: #FA7268;
    border-width: medium;
    border-style: dotted;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 20px;
}

.grid {
    text-align: center;
}

.uploadIconSize {
    width: 60px;
    height: 60px;
    color: #909090;
}